.home-portal{
    &.container{
        max-width: 900px;
    }
    form{
        background: #f1f1f1;
        border-radius: 10px;
        padding: 20px;
    }
    select{
        display: block;
        padding: 7px;
        border-radius: 5px;
        border: 1px solid #ced4da;
        width: 100%;
        color:grey;
    }
    h3{
        color: grey;
        font-size: 20px;
    }
    label{
     color: grey;
    }
    .form-group{
        &.fifty{
            width:50%;
        }
    }
    .fa{
        font-size: 20px;
        color: grey;
        margin:0 10px;
    }
    .doc-name{
        margin:5px 0;
        input{
            display: none;
        }
        .fa{
            &:hover{
                cursor: pointer;
                color:black;
            }
        }
    }    
    .next-btn{
        .fa{
            color: white;
            font-size: 13px;
        }
        &:hover{
            background:green;
        }
    }
    .labour-dropdown{
        background: white;
        padding: 0 10px 10px;
        border-radius: 5px;
        border: 1px solid #ced4da;
        input{
            padding: 5px;
            border: none;
            color:grey;
            border-bottom: 1px solid grey;
            background: transparent;
            margin:10px 0;
        }
        input[type="checkbox"]{
            &:focus{
                outline:none;
            }
        }
        .labour-type{
            margin-left: 10px;
            vertical-align: text-bottom;
            color:grey;
        }
       
    }
    
}
